<p>This is the users view</p>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModalLabel">Confirm delete</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete all the info associated with
                person number {{theUId}} ??!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteU()">Delete !</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="upgradeModal" tabindex="-1" role="dialog" aria-labelledby="upgradeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="upgradeModalLabel">Upgrade person</h4>
            </div>
            <div class="modal-body">
               {{$scope.theUId}}



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="updateUser()">Upgrade !</button>
            </div>
        </div>
    </div>
</div>

<ul>
<li ng-repeat="u in theUsers"> {{u.name}} {{u.surname}} is someone great.
    <button class="btn-group btn-danger" data-toggle="modal" data-target="#deleteModal" ng-click="getTheUserId(u.id)">
        delete him/her!
        <span class="glyphicon glyphicon-trash"></span></button>
    <button class="btn-grp btn-info" data-toggle="modal" data-target="#upgradeModal" ng-click="getTheUserId(u.id)">upgrade him/her!</button>
</li>
</ul>


